.Side-bar
  .Side-bar__user-name
    .Side-bar__user-name__top-items
      .Side-bar__user-name__top-items__name
        masa
      .Side-bar__user-name__top-items__icons
        .Side-bar__user-name__top-items__icons-edit
          = link_to "#" do
            %i.far.fa-edit
          = link_to "#" do
            %i.fa.fa-cog

  .Side-bar__group-list
    .Side-bar__group-list__name
      TECH CAMP
    .Side-bar__group-list__message
      まだメッセージはありません。